<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoCardlessSecretID</key>
	<string>PON-AQUI-TU-SECRET-ID</string>
	<key>GoCardlessSecretKey</key>
	<string>PON-AQUI-TU-SECRET-KEY</string>
</dict>
</plist>
