<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableBankingApplicationID</key>
	<string>PON-AQUI-TU-APPLICATION-ID</string>
	<key>EnableBankingPrivateKeyPEM</key>
	<string>-----BEGIN PRIVATE KEY-----
PON-AQUI-TU-CLAVE-PRIVADA-COMPLETA-TAL-CUAL-TE-LA-DIO-ENABLE-BANKING
-----END PRIVATE KEY-----</string>
</dict>
</plist>
